<form [formGroup]="rankingForm">

  <mat-list>
    <div mat-subheader>Points</div>
    <mat-list-item>
      <mat-icon mat-list-icon>euro</mat-icon>
      <!-- TODO: slider - 'How likely are you to diviate from this price' -->
      <!-- A X difference of 10% gives   -->
      <!-- TODO: info tooltip of how its calculated -->
      <div mat-line class="flex">
        <span>My perfect price is: </span>
        <span class="ml-5 mr-5">
          <mat-form-field appearance="standard">
            <input formControlName="idealPrice" matInput type="number" placeholder="0" class="points-value">
            <span matSuffix>€&nbsp;</span>
          </mat-form-field>
          .
        </span>
        <span> Prices within <span class="deviation">5%</span> of this amout awards <span class="points-value">{{ MAX_PRICE_POINTS }}</span> points</span>
      </div>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon>drive_eta</mat-icon>
      <div mat-line>
        <span>To S Line trim level I award: </span>
        <mat-form-field appearance="standard" floatLabel="always" class="ml-5">
          <!-- <mat-label>Points</mat-label> -->
          <input formControlName="sLinePoints" matInput type="number" placeholder="0" class="points-value">
          <span matSuffix class="ml-5">points&nbsp;</span>
        </mat-form-field>
      </div>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon>filter_4</mat-icon>
      <div mat-line>
        <span>To Quattro models I award: </span>
        <mat-form-field appearance="standard" floatLabel="always" class="ml-5">
          <!-- <mat-label>Points</mat-label> -->
          <input formControlName="quattroPoints" matInput type="number" placeholder="0" class="points-value">
          <span matSuffix class="ml-5">points&nbsp;</span>
        </mat-form-field>
      </div>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon>sports</mat-icon>
      <div mat-line>
        <span>To TDI engines I award: </span>
        <mat-form-field appearance="standard" floatLabel="always" class="ml-5 mr-5">
          <!-- <mat-label>Points</mat-label> -->
          <input formControlName="tdiEnginePoints" matInput type="number" placeholder="0" class="points-value">
          <span matSuffix class="ml-5">points&nbsp;</span>
        </mat-form-field>
        <span>. To TFSI engines I award: </span>
        <mat-form-field appearance="standard" floatLabel="always" class="ml-5">
          <!-- <mat-label>Points</mat-label> -->
          <input formControlName="tfsiEnginePoints" matInput type="number" placeholder="0" class="points-value">
          <span matSuffix class="ml-5">points&nbsp;</span>
        </mat-form-field>
      </div>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon>videocam</mat-icon>
      <div mat-line>
        <span>To models with a reverse camera I award: </span>
        <mat-form-field appearance="standard" floatLabel="always" class="ml-5">
          <!-- <mat-label>Points</mat-label> -->
          <input formControlName="reverseCameraPoints" matInput type="number" placeholder="0" class="points-value">
          <span matSuffix class="ml-5">points&nbsp;</span>
        </mat-form-field>
      </div>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon>add_road</mat-icon>
      <!-- TODO: info tooltip of how its calculated -->
      <div mat-line>
        <span>My perfect current mileage is: </span>
        <span class="ml-5 mr-5">
          <mat-form-field appearance="standard" floatLabel="always">
            <input formControlName="idealMileage" matInput type="number" placeholder="0" class="points-value">
            <span matSuffix>km&nbsp;</span>
          </mat-form-field>.
        </span>
        <span> Mileage within <span class="deviation">5%</span> of this amount awards <span class="points-value">{{ MAX_MILEAGE_POINTS }}</span> points</span>
      </div>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon>highlight</mat-icon>
      <div mat-line>
        <span>To LED headlights I award: </span>
        <mat-form-field appearance="standard" floatLabel="always" class="ml-5 mr-5">
          <!-- <mat-label>Points</mat-label> -->
          <input formControlName="ledHeadlightsPoints" matInput type="number" placeholder="0" class="points-value">
          <span matSuffix class="ml-5">points&nbsp;</span>
        </mat-form-field>
        <span>. To Matrix LED headlights I award: </span>
        <mat-form-field appearance="standard" floatLabel="always" class="ml-5">
          <!-- <mat-label>Points</mat-label> -->
          <input formControlName="matrixHeadlightsPoints" matInput type="number" placeholder="0" class="points-value">
          <span matSuffix class="ml-5">points&nbsp;</span>
        </mat-form-field>
      </div>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon>wb_incandescent</mat-icon>
      <div mat-line>
        <span>
          <span>To Standart (cup holder) interior ambient lighting I award: </span>
          <mat-form-field appearance="standard" floatLabel="always" class="ml-5 mr-5">
            <!-- <mat-label>Points</mat-label> -->
            <input formControlName="standartAmbiencePoints" matInput type="number" placeholder="0" class="points-value">
            <span matSuffix class="ml-5">points&nbsp;</span>
          </mat-form-field>
          <span>. To full ambient lighting I award: </span>
          <mat-form-field appearance="standard" floatLabel="always" class="ml-5">
            <!-- <mat-label>Points</mat-label> -->
            <!-- TODO: None gets 0 -->
            <input formControlName="fullAmbiencePoints" matInput type="number" placeholder="0" class="points-value">
            <span matSuffix class="ml-5">points&nbsp;</span>
          </mat-form-field>
        </span>
      </div>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon>swipe</mat-icon>
      <div mat-line>
        <span>To models with paddle shifters I award: </span>
        <mat-form-field appearance="standard" floatLabel="always" class="ml-5">
          <!-- <mat-label>Points</mat-label> -->
          <input formControlName="paddleShiftersPoints" matInput type="number" placeholder="0" class="points-value">
          <span matSuffix class="ml-5">points&nbsp;</span>
        </mat-form-field>
      </div>
    </mat-list-item>

  </mat-list>
</form>