.color-circle {
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid gray;

    &--white {
        background-color: white;
    }

    &--red {
        background-color: red;
    }
}
