<div class="flex flex--vertical flex--center mt-20 mb-10">
  <span>Mandatory features (all cars listed below have them, so we can eliminate them from the scoreboard):</span> 
  <ul>
    <li>Digital Cockpit</li>
    <li>At least S Line trim or Quattro</li>
    <li>At least 190HP(PS)</li>
    <li>Automatic transmission</li>
    <li>At least 4 doors :)</li>
    <li>Either LED or Matrix LED headlights</li>
    <!-- TODO badge -->
    <li>
      <div class="flex items-center">
        NOT white <span class="color-circle color-circle--white ml-5 mr-5"></span> or red <span class="color-circle color-circle--red ml-5 mr-5"></span> color
      </div>
    </li> 
        
    <li>Below 10000km mileage</li>
  </ul>
</div>
<div class="flex flex--center flex--wrap ml-20 mr-20">
  <app-ranking-configuration-form [formControl]="configuartionFormControl"></app-ranking-configuration-form>
  <app-ranking-description [maxPoints]="$any(maxPoints$ | async)" (reset)="onReset()"></app-ranking-description>
</div>

<div *ngIf="featurePoinsGetterMap$ | async as featurePoinsGetterMap" class="mt-20 ml-20 mr-20 pb-20">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 cars-table" style="width: 100%;">
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [style.width]="tableStyleConfig.score"> Score </th>
      <td mat-cell *matCellDef="let car; let i = index">
        <span
          *ngIf="(medalClassGetter$ | async)!(car.score) as medalClass; else basicScoreTemplate"
          matBadge="emoji_events"
          [ngClass]="medalClass"
          matBadgeOverlap="false">{{ car.score }}
        </span>
        <ng-template #basicScoreTemplate>
          <span>{{ car.score }}</span>
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef [style.width]="tableStyleConfig.link"> Link </th>
      <td mat-cell *matCellDef="let car"> <a [href]="car.link">Link</a> </td>
    </ng-container>
  
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [style.width]="tableStyleConfig.price"> Price </th>
      <td mat-cell *matCellDef="let car">
        <div class="flex flex--wrap">
          {{ car.price }} 
          <ng-container
            *ngTemplateOutlet="featureScoreTemplate; context: { $implicit: 'price', car: car }">
          </ng-container>
        </div>
        
      </td>
    </ng-container>
  
    <ng-container matColumnDef="sLine">
      <th mat-header-cell *matHeaderCellDef [style.width]="tableStyleConfig.sLine"> S Line </th>
      <td mat-cell *matCellDef="let car"> 
        {{ car.sLine ? 'Yes' : 'No' }}
        <ng-container
          *ngTemplateOutlet="featureScoreTemplate; context: { $implicit: 'sLine', car: car }">
        </ng-container>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="quattro">
      <th mat-header-cell *matHeaderCellDef [style.width]="tableStyleConfig.quattro"> Quattro </th>
      <td mat-cell *matCellDef="let car"> {{ car.quattro ? 'Yes' : 'No' }}
        <ng-container
          *ngTemplateOutlet="featureScoreTemplate; context: { $implicit: 'quattro', car: car }">
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="engine">
      <th mat-header-cell *matHeaderCellDef [style.width]="tableStyleConfig.engine"> Engine </th>
      <td mat-cell *matCellDef="let car">
        {{ car.engineType }} {{ car.engineHorsePower }}
        <ng-container
          *ngTemplateOutlet="featureScoreTemplate; context: { $implicit: 'engineType', car: car }">
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="reverseCamera">
      <th mat-header-cell *matHeaderCellDef [style.width]="tableStyleConfig.reverseCamera"> Reverse Camera </th>
      <td mat-cell *matCellDef="let car">
        {{ car.reverseCamera ? 'Yes' : 'No' }}
        <ng-container
          *ngTemplateOutlet="featureScoreTemplate; context: { $implicit: 'reverseCamera', car: car }">
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="mileage">
      <th mat-header-cell *matHeaderCellDef [style.width]="tableStyleConfig.mileage"> Current mileage (km) </th>
      <td mat-cell *matCellDef="let car">
        {{ car.mileage }}
        <ng-container
          *ngTemplateOutlet="featureScoreTemplate; context: { $implicit: 'mileage', car: car }">
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="headlights">
      <th mat-header-cell *matHeaderCellDef [style.width]="tableStyleConfig.headlights"> Headlights </th>
      <td mat-cell *matCellDef="let car">
        {{ car.headligts }}
        <ng-container
          *ngTemplateOutlet="featureScoreTemplate; context: { $implicit: 'headligts', car: car }">
        </ng-container>
      </td>
      
    </ng-container>

    <ng-container matColumnDef="ambientLighting">
      <th mat-header-cell *matHeaderCellDef [style.width]="tableStyleConfig.ambientLighting"> Ambient Lighting </th>
      <td mat-cell *matCellDef="let car">
        {{ car.ambientLighting }}
        <ng-container
          *ngTemplateOutlet="featureScoreTemplate; context: { $implicit: 'ambientLighting', car: car }">
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="paddleShifters">
      <th mat-header-cell *matHeaderCellDef [style.width]="tableStyleConfig.paddleShifters"> Paddle shifters </th>
      <td mat-cell *matCellDef="let car">
        {{ car.paddleShifters ? 'Yes' : 'No' }}
        <ng-container
          *ngTemplateOutlet="featureScoreTemplate; context: { $implicit: 'paddleShifters', car: car }">
        </ng-container>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <ng-template #featureScoreTemplate let-featureName let-car="car">
    <span *ngIf="$any(featurePoinsGetterMap)[featureName](car) as featureScore"
      class="ml-5"
      [ngStyle]="{ color: featureScore > 0 ? 'green' : 'red' }">
      ({{ featureScore >= 0 ? '+' : '-' }}{{ featureScore }} points)
    </span> 
  </ng-template>
</div>
