<div class="flex-1 flex flex--vertical flex--center">
  <span>Max: {{ maxPoints }} points</span>
  <button
    mat-flat-button
    color="primary"
    class="mt-5"
    (click)="onReset()"
    >Reset to Bobby's config</button>
</div>
<div class="description-container">
  <span>Mandatory features (all cars listed below have them, so we can eliminate them from the scoreboard):</span> 
  <ul>
    <li>Digital Cockpit</li>
    <li>At least 190HP(PS)</li>
    <li>At least 4 doors :)</li>
    <li>Either LED or Matrix LED headlights</li>
    <!-- TODO badge -->
    <li>
      <div class="flex items-center">
        NOT white <span class="color-circle color-circle--white ml-5 mr-5"></span> or red <span class="color-circle color-circle--red ml-5 mr-5"></span> color
      </div>
    </li> 
        
    <li>Below 10000km mileage</li>
  </ul>
</div>